@font-face {
  font-family: Poor Story;
  src: url("../assets/fonts/PoorStory-Regular.ttf") format("truetype");
}
* {
  font-family: Poor Story;
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
.App-header {
  background-color: skyblue;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.content {
  width: 100%;
  height: 87.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content img {
  margin-bottom: 30px;
}
.content form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
.content form input {
  padding: 10px;
  margin-bottom: 8px;
}
.gogodan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
